<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Email's sent successfully!</h1>
    <a href="/sendEmails">Go Back</a>
    <br>
    <a href="/members">Home Page</a>
</body>
</html>

