<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/email/all">Send to all</a>
    <a href="/email/onlyapplied">Send to Only Applied Candidates</a>
    <a href="/email/appeared">Send to Appeared Candidates</a>
    <a href="/email/round2">Send to Round2 Candidates</a>
    <a href="/email/selected">Send to selectes Candidates</a>
</body>
</html>